* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #80856a;
    color: #6e7f283e;
}

header {
    background-color: #785b3f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #000000;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color:  #80856a;
    margin-top: 20px;
}


img {
    display: block;
    margin: 0 auto;  
    max-width: 80%;  
    height: auto;  
    border-radius: 8px;  
}
p {
    color: white;
}

section img{
    display: flex;
    align-items: center;  
    justify-content: center;  
    height: 100vh;  
    padding: 20px;
}
.desinger {
    display: flex;
    width: 100px;
}
h2 {
    color: white;
}

.button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;  
    color: white;
    text-align: center;
    text-decoration: none;  
    border-radius: 5px;  
    font-size: 16px;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.button1:hover {
    background-color: #45a049; 
}



.button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;  
    color: white;
    text-align: center;
    text-decoration: none;  
    border-radius: 5px;  
    font-size: 16px;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.button2:hover {
    background-color: #45a049; 
}
